<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
</head>
<body>
这是模板<br>
{#变量代码块使用#}
请点击下面链接：{{ url_string }} <br>
<hr>
{#列表传入和使用#}
显示列表：{{ my_list }} <br>
第二个列表元素：{{ my_list.2 }} <br>
第三个列表元素：{{ my_list[3] }} <br>
<hr>
{#字典传入和使用#}
字典显示：{{ my_dict }} <br>
字典元素：{{ my_dict.name }} <br>
字典元素：{{ my_dict['url'] }} <br>
<hr>
{#控制代码块{%  %},快捷方式：先写for，再按tab健#}
{% for num in my_list %}
    {% if num  > 3 %}
        {{ num }} <br>
    {% endif %}
{% endfor %}
<hr>
{#过滤器#}
过滤器(大写):{{ url_string | upper }} <br>
过滤器(字符串翻转):{{ url_string | reverse }} <br>
过滤器(链式调用):{{ url_string | reverse | upper }} <br>
</body>
</html>